body{
    font-family: sans-serif;
    margin: 0;
}
.header{
    font-size: 3em;
    color: white;
    background-color: orange;
    margin: 0;
    padding: 7.5%;
}
.checkin{
    display: flex;
    margin-bottom: 5%;
}
.userpicture{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    margin: 10px;
    padding: 5px;
}
.info{
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin-top: 15px;
}
.username{
    font-weight: bold;
    margin: 0;
}
.placename{
    font-size: x-large;
    color: orange;
    margin: 0;
}
.location{
    margin: 0;
}
.comment{
    font-size: large;
    font-weight: bold;
}
.placepicture{
    width:  250px;
    height: 250px;
    display: block;
    margin: 10px;
    padding: 10px;
}
.footer{
    font-size: 1em;
    text-align: center;
    color: white;
    background-color: lightgray;
    width: 100%;
    bottom: 0;
    right: 0;
    position: fixed;
    margin: 0;
    padding: 2.5%;
}