* {
  box-sizing: content-box !important;
}

body {
  background: linear-gradient(rgba(22, 22, 22, 0.989), rgba(22, 22, 22, 0.95), rgba(22, 22, 22, 0.989));
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

#header {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.1);
}

.logo {
  background-image: url(https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png);
  background-size: 200px;
  background-repeat: no-repeat;
  margin-left: -100px;
  margin-top: 40px;
  left: 50%;
  position: absolute;
  width: 200px;
  height: 60px;
}

#main {
  width: 300px;
  height: 300px;
  margin: 150px auto;
}
#main h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 35px;
}
#main .loginfb {
  width: 300px;
  height: 30px;
  background-color: #3b5999;
  background: -moz-linear-gradient(top, #3b5999, #3b5999);
  background: -ms-linear-gradient(top, #3b5999, #3b5999);
  background: -webkit-linear-gradient(top, #3b5999, #3b5999);
  border-radius: 20px;
}
#main .loginfb::after {
  content: 'Login with FaceBook';
  color: #dfe0e6;
  font-weight: 400;
  font-size: 13px;
  display: block;
  margin-top: 10px;
  padding-top: 7px;
  text-align: center;
}
#main .linel {
  width: 135px;
  height: 1px;
  background-color: rgba(240, 240, 240, 0.2);
  margin-top: 30px;
  float: left;
}
#main .linel::after {
  content: 'OR';
  font-size: 13px;
  color: rgba(240, 240, 240, 0.58);
  position: absolute;
  margin-left: 141px;
  margin-top: -6px;
}
#main .liner {
  width: 135px;
  height: 1px;
  background-color: rgba(240, 240, 240, 0.2);
  margin-top: 30px;
  float: right;
}
#main #form {
  margin-top: 40px;
}
#main #form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #88898c;
}
#main #form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #88898c;
  opacity: 1;
}
#main #form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #88898c;
  opacity: 1;
}
#main #form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #88898c;
}
#main #form input[type=email],
#main #form input[type=password] {
  width: 290px;
  height: 25px;
  background-color: rgba(46, 47, 51, 0.75);
  border-radius: 3px;
  padding-left: 10px;
  color: #88898c;
  font-size: 12px;
  outline: none;
  border: none;
  margin-top: 15px;
}
#main #form input[type=email]:focus,
#main #form input[type=password]:focus {
  background-color: #3c3c3c;
}
#main #form h5 {
  color: #88898c;
  font-size: 14px;
  margin-top: 10px;
  float: left;
}
#main #form input[name=remember] {
  float: right;
  margin-top: 10px;
}
#main #form input[type=submit] {
  clear: both;
  display: block;
  cursor: pointer;
  margin: 50px auto;
  width: 120px;
  height: 30px;
  outline: none;
  border: none;
  background-color: #7abd00;
  border-radius: 30px;
  color: rgba(231, 252, 255, 1);
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}
#main #form .btn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
#main #form .btn-toggle + label {
  display: block;
  position: relative;
  float: right;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  user-select: none;
}
#main #form input.btn-toggle-round + label {
  width: 30px;
  padding: 4px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
}
#main #form input.btn-toggle-round + label:before,
#main #form input.btn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
#main #form input.btn-toggle-round + label:before {
  right: 1px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(200, 200, 200, 0.3);
  border-radius: 10px;
  transition: background 0.4s;
}
#main #form input.btn-toggle-round + label:after {
  width: 20px;
  background-color: #88898c;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s cubic-bezier(0.5, 0.28, 0.7, 0.8);
}
#main #form input.btn-toggle-round:active + label:after {
  -webkit-animation: deformation 0.4s ease-in-out;
}
#main #form input.btn-toggle-round:hover + label:after {
  background-color: #fafafa;
}
#main #form input.btn-toggle-round:checked + label:after {
  background-color: #fafafa;
}
#main #form input.btn-toggle-round:checked + label:before {
  background-color: #648f00;
  border: 2px solid #648f00;
}
#main #form input.btn-toggle-round:checked + label:after {
  margin-left: 20px;
}

#footer {
  text-align: center;
  display: block;
  margin-top: 120px;
  color: rgba(231, 252, 255, 0.6);
  text-transform: uppercase;
  font-size: 13px;
}
#footer a {
  text-decoration: none;
  color: inherit;
  display: block;
  margin-top: 5px;
}

@-webkit-keyframes deformation {
  0% {
    width: 20px;
  }
  20% {
    width: 25px;
  }
  40% {
    width: 30px;
  }
  80% {
    width: 25px;
  }
  100% {
    width: 20px;
  }
}

.user-messages-area {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
}

.user-messages-area .alert {
  margin-bottom:0;
}