*
{
  box-sizing: border-box;
}

body
{
  padding: 0;
  margin: 0;
  background-image: url("http://3.bp.blogspot.com/-Vun9BzPL8rw/VapKcixbhcI/AAAAAAAANno/JMZN1432P8A/s1600/dota-2-logo-hd-wallpapers-download-free-dota-2-logo-tumblr.jpg");
  background-size: cover;
  font-family: Helvetica;
}

#app
{
  max-width: 500px;
  margin: 2em auto;
  background-color: #fff;
  padding: 1em;
  border-radius: 10px;
}

h1
{
  font-size: 1.2em;
  text-align: center;
}

.alert
{
  background-color: #EFEEF1;
  border: 1px solid #E91C24;
  border-radius: 5px;
  border-left-width: 5px;
  padding: 1em;
}

.nav--login
{
  padding: 0.3em;
}

.nav--login a
{
  color: #A291C4;
  text-decoration: none;
  margin-right: 1em;
}

.form
{
  padding: 0.5em;
}

.form label
{
  display: block;
  margin-top: 0.5em;
}

.form input
{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.btn
{
  margin: 1em 0;
  background-color: #F4F4F4;
  color: #B0ADB5;
  text-align: center;
  display: block;
  padding: 0.5em;
  text-decoration: none;
  border-radius: 5px;
}

.nav--login
{
  border-bottom: 2px solid #A291C4;
  margin-bottom: 1em;
}

.nav
{
  background-color: #4B387A;
  padding: 0.6em;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 6em;
}

.nav a
{
  margin: 0 1em;
  text-decoration: none;
}

a.loggedIn
{
  flex: 0 1 240px;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.user--avatar
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  align-self: center;
}

.user--name
{
  margin: 0;
}

.user--avatar img
{
  object-fit: cover;
  object-position: center;
  width: 50px;
}

.nav a
{
  color: #B4C4E7;
}

.nav a:hover
{
  color: #fff;
}

.hidden
{
  display: none;
}